DOCKER_NGINX_IMAGE=nginx:stable-alpine3.24-perl
DOCKER_NODE_IMAGE=node:24.20.0-trixie-slim
DOCKER_PYTHON_IMAGE=python:3.13.15-slim-trixie

# NOTE: Version is separate variable
APP_VER=0.0.1
DOCKER_FRONTEND_IMAGE=localhost:5000/tm-frontend
DOCKER_BACKEND_IMAGE=localhost:5000/tm-backend
